@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
}

.clock{
    position: absolute;
    top: 10px;
    right: 10px;
    color: skyblue;
    font-size: 1.5rem;
    font-family: 'Fira Code','monospace';
}
.greet{
    display: flex;
    font-size: 3rem;
    color: snow;
    justify-content: space-between;
    font-family: 'Lobster', cursive;
}

.name{
    color: rgb(0, 255, 213);
    font-weight: bold;
}
.search-container{
    display: flex;
    flex-direction: column;
    min-width: 70vw
}

.search-txt{
    background-color: rgba(94, 94, 94, 0.575);
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    outline: none;
    border: none;
    min-height: 2.5rem;
    padding-left: 1rem;
    border-radius: 20px;
    color: rgb(181, 247, 236);
    margin: 40px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}
.buttons button{
border: none;
background-color: rgba(94, 94, 94, 0);
font-family: 'Fira Code','monospace';
font-weight: bolder;
}

.google{
    color: rgb(245, 218, 65);
}

.ddgo{
    color: rgb(152, 245, 65);
}
.yt{
    color: rgb(245, 65, 89);
}
.reddit{
    color: rgb(245, 131, 65);
}
.wiki{
    color: rgb(113, 65, 245);
}
.buttons button:hover{
    background-color: slategray;
}